**/.vs
**/obj
**/bin
**/Resources
**/XppMetadata
**/Reports

BuildModelResult.log
BuildModelResult.xml
BuildModelResult.err.xml
BuildProjectResult.log
BuildProjectResult.xml
BuildProjectResult.err.xml
CompileLabels.xml